.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gif {
  margin-top: 0.2%;
  width: 213vh;
  height: 82vh;
}

.nameCharacterInfo {
  color: rgb(255, 255, 255);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 213vh;
  height: 82.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-family: "Lucida Handwriting";
}

.infoPage3 {
  margin-top: 8%;
  color: white;
  display: flex;
  margin-bottom: 8%;
}

.photoInfo {
  width: 55vh;
  border-radius: 2%;
  box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 1);
  background-color: rgba(172, 169, 169, 0.151);
  margin-right: 2%;
}

.descCharacter {
  background-color: rgba(0, 0, 0, 0.329);
  height: max-content;
  padding: 2%;
}

.voiceActor {
  padding: 2%;
}

.infoVideo {
  margin-bottom: 3%;
}
