.imageCharacter {
  width: 100%;
  height: 65vh;
  transition: 0.4s ease-in-out;
  border-radius: 3% 3% 0 0;
  filter: grayscale(30%);
}

.imageCharacter:hover {
  transition: 0.4s ease-in-out;
  filter: grayscale(0%);
}

.firstWord {
  text-align: center;
  margin: 1.5% 0%;
}

.contaienrCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 2.5rem;
  margin-left: 6%;
}

/* Ul */
.ulCards {
  margin: 0;
  padding: 0;
  width: 75%;
  font-size: 10px;
  list-style-type: none;
  box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 1);
  background-color: rgba(172, 169, 169, 0.151);
  margin-top: 10%;
  transition: transform 0.3s ease-in-out;
  border-radius: 3%;
}

.ulCards:hover {
  transform: scale(1.05);
  transition: transform 0.4s ease-in-out;
  box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 1);
}
/*End ul */

/* Li */
.liCards {
  width: 100%;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
/* End li */

/* Search Bar */
.searchBar {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 30%;
  height: 2.5rem;
  text-align: center;
}

.divSearchBar {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
/* End search bar */

/* Info card */
.characterName {
  font-size: 23px;
  margin-top: 2%;
  /* color: white; */
  margin-left: 3%;
}

.nameGame {
  font-size: 0.8rem;
  margin-left: 3%;
  /* color: gray; */
}

.priceCard {
  font-size: 1rem;
  margin-left: 3%;
  /* color: gray; */
}

/* Button */
.buttonFav {
 
}
#divBtn {
  /* background-color:#42a5f5; */
  /* padding-bottom: 50px; */
}

.btn {
  
  text-align: center;
  display: inline-block;
  padding: 15px 40px;
  border: 1px solid #fff;
  cursor: pointer;
  letter-spacing: 2px;
  position:relative;
  overflow:hidden;
  margin: 0 20px;
  background-color: rgba(0, 38, 161, 0.63);
  margin-left: 35%;
  margin-bottom: 4%;
  width: 125px;
  font-size: 15px;
}


.btn:before {
  content: "";
  position: absolute;
  height: 150px;
  width: 50px;
  background : rgb(255, 255, 255);
  left: -55px;
  top: -40px;
  transform: rotate(37deg);
  transition: all .3s;
  opacity: 0.3;

}

.btn:hover:before {
  left:95%;
}
/* End button  */

/* End info card */
