.containerHome {
  background: rgb(0, 0, 0, 0.4);
  color: white;
}

.backgroundHome {
  width: 100%;
  background-image: url("https://wallpaper.dog/large/10806001.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.welcoming {
  display: flex;
  height: 63.5vh;
  justify-content: center;
  align-items: center;
}
