.containerNav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.301);
  height: max-content;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 1);
}

.ulNav {
  padding: 2%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  color: black;
}

.ulNav li {
  text-decoration: none;
  text-align: center;
  border-radius: 0.7rem;
}

.h2Nav {
  font-size: 3.5vh;
  transition: 0.2s ease-in-out;
}

.h2Nav:hover {
  transition: 0.2s ease-in-out;
  color: white;
}

.linkNav {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 3vh;
}

.logo {
  font-size: 4.5vh;
  background-color: transparent;
  color: rgba(179, 149, 51, 0.945);
  font-family: 'Lucida Handwriting';
  cursor: pointer;
}

